*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/lauren-fleischmann-469994-unsplash.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;

}
nav{
    width: 100%;
    height: 100px;
    background: white;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}
.container h1{
    text-decoration: none;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 10px 20px;   
}
.Contact p{
    text-align: center;
    color: rgb(242, 245, 247);
    font-size: 25px;
}