@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
/* .wrapper{
	background: url(https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/advisor/wp-content/uploads/2022/08/Image_-_E-Commerce_Website_.jpeg.jpg) no-repeat;
	background-size:cover;
	height: 120vh;
}
.navbar{
    display: flex ;
    align-items: center;
    justify-content: center;
    /* padding: 20px 80px;
    background: #aaaec4;
    box-shadow: 0 50px rgba(0,0,0,0.06); */

	/* position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4); */


/* .navbar .li{
    list-style: none;
    padding: 0 20px;

	/* width: 140px;
	height: auto;
	padding: 20px 100px; */

/* .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  } */
   */
  /* Style the buttons that are used to open the tab content */
  /* .tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
   */
  /* Change background color of buttons on hover */
  /* .tab button:hover {
    background-color: #c92323;
  } */
  
  /* Create an active/current tablink class
  .tab button.active {
    background-color: #c92323;
  } */
  
  /* Style the tab content */
  /* .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  } */ */
/*.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background:#FF6961;
	border-radius: 2px;
} */
.wrapper .center{
	position: absolute;
	left: 60%;
	top: 20%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color:black;
    background:rgba(76,175,80,0.3) ;
	font-size: 70px;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.center .buttons{
	margin: 35px 280px;
	left: 50px;
    margin-left: 80px;
}
.buttons button{
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #fefdfd;
	background: rgb(41, 6, 238);
	outline: none;
	cursor: pointer;
	border: 1px solid #092ae4;
	border-radius: 25px;
	transition: .4s;
	margin: auto;
}
.buttons button{
	margin-left: 100px;
}
.buttons button:hover{
	background:#b8170e ;
}
/* HOMEPAGE */
#hero{
    background-image: url("img/hero.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero h4{
    padding-bottom: 15px;

}
#hero h1{
    color: rgb(250, 73, 2);
    
}
#hero button{
    background-image: url("images/b1.jpg");
    background-color: transparent;
    color: #0c0505;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
.section-p1{
    padding: 40px 80px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
#feature.fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #7b8adb;
    border-radius: 4px;
    margin: 15px 0;

}
#feature.fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.3);
}
#feature.fe-box img{
    width: 100%;
    margin-bottom: 10px;

}
#feature.fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #092ae4;
    background-color: #7b8adb;
}
#feature .fe-box h6:nth-child(2){
    background-color: #283eb8;
}
#feature .fe-box h6:nth-child(3){
    background-color: #18c2c2;
}
#feature .fe-box h6:nth-child(4){
    background-color: #dd1fc1;
}
#feature .fe-box h6:nth-child(5){
    background-color: #d2e809;
}
#feature .fe-box h6:nth-child(6){
    background-color: #aa0f14;
}


#header{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #aaaec4;
    box-shadow: 0 50px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}
#navbar{
    display: flex ;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: noen;
    padding: 0 20px;

}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #0c0505;
    transition:0.3s ease ;
}
#navbar li a:hover,
#navbar li a.active{
    color:#b8170e;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height:2px;
    background: #f1f1f1;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#product1{
    text-align: center;   
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border:1px solid #7b8adb;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin: 15px 0;
    transition: 0.2s ease;
    position: absolute; 
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
    
}
#product1 .pro .des span{
    color: #aaaec4;
    font-size: 12px ;
}
#product1 .pro .des h5{
    padding-top: 7px ;
    color: #7b8adb;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #7b8adb;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #aaaec4;
    font-weight: 500;
    color: #18c2c2;
    border: 1px solid #aaaec4;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro:hover{
    box-shadow:20px 20px 30px rgba(170, 67, 67, 0.02) ;
}
/* Shop page */
#page-header{
    background-image: url("img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
    padding: 14px;
}
#page-header h2,
#page-header p{
    color: white;

}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #18c2c2;
    padding: 15px 20px ;
    border-radius: 4px;
    color: #ccc;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
/* Single product */
#prodetails{
    display: flex;
    margin-top: 20px;

}


#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 020px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px ;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button{
    background-color: #18c2c2;
    color: black;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details span{
    line-height: 25px;

}
/* Media query */
@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #18c2c2;
        box-shadow: 0 40px 60px rgba(70,62,221,0.3);
        padding: 80px 0 0 10px;

    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #c92323;
        font-size: 24px;
        padding-left: 20px;
    }
    
}